<div class="container">
  <h1 class="mb-4"><%= kanban_board.model_name.human %></h1>

  <div class="w-full grid grid-cols-3 gap-4">
    <% kanban_board.cards_by_status.each do |status, cards| %>
      <div class="flex flex-col p-5 border-2 border-solid border-black">
        <h2><%= status %></h2>
        <ul class="list-none">
          <% cards.each do |card| %>
            <li><%= render 'experiments/kanban_boards/cards/card', card: card %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
